/* ==== MAIN SCREEN ==== */

.mainscreen__box {
  display: flex;
  align-items: center;
  font-family: $fontaccent;
  color: $white;
}

.main__title {
  font-size: 100px;
  line-height: 100px;
  font-weight: 500;

  //   margin-top: 100px;
  margin-bottom: 40px;
}

.main__subtitle {
  font-size: 40px;
  max-width: 300px;
  font-weight: 500;
}

.maintext__box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;

  & .main__txt {
    color: $white;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
  }
}
